API_ID=25392624
API_HASH=c9208c6e73e4d48a7a03c3ee296995be
BOT_TOKEN=6802653453:AAFWa-Yt6FWDXcKyQDRVXgPRG6rr9XdxRpc
LOGGER_ID=-1002132108601
MONGO_DB_URI=mongodb+srv://BrandedSupportGroup:BRANDED_WORLD@cluster0.v4odcq9.mongodb.net/?retryWrites=true&w=majority
OWNER_ID=1384525218
STRING_SESSION=BQF3jTgAd9QcnF7plGqB4szdOMerSRvQyp0NZ6CeO9cAVq7oDZQCL6pD4H_ekjP0uoKbFjLJ-TrwGI8xvptjBcGQ21UTWEzglfOcdBCXTbv12DoEkVkC0eh6kDSq4OzsrkllCKDnESUMH8avPzk1rmGOTZTKSnO5iPpfNnGfDrQ3DDq7yLwjXeAGUiD-m2_v88600PdcBow4IgsGvyUkPGMwLx7mviG-zXVXzWxdGfrFHqsB3Qid7dn9lGPSlbgat8myVLfRDPvCiDicQK7mbdcuUPytINlN-1ZScKmeVg5VSuJ3cdT7Kvb7Qp3kCt6Z1HNYppQ5C7lwTeYfYO0QXP3LKJ4e_QAAAAHL4VSiAA
